<div style="text-align: justify">
    <h4>Course Aim (Goal):</h4>
    <p>
        This course will provide participants with sufficient knowledge, skills and attitudes required to
evaluate aviation fire fighting foam in accordance with national & international standards.
    </p>
    <br>

    <h4>
        Target Population:
    </h4>
    <p>
        Aircraft Rescue and Fire Fighter Personnel
    </p>
    <br>

    <h4>
        Course Objectives:
    </h4>
    <p>
        Upon completion the course, the trainees will be able to:
    </p>
    <ul>
        <li>Perform foam concentrate physical properties test;</li>
        <li>Perform fire test;</li>
        <li>Perform ARFF vehicle foam production performance test.</li>
    </ul>
    <br>
    <h4>Entry requirements:</h4>
    <ul>
        <li>Participants must have Junior ARFF certificate;</li>
        <li>No colour blindness, physically and mentally healthy (shows the medical certificate).</li>
    </ul>
    <br>
</div>
