<h4>
    Direction
</h4>
<h4 style="text-align: justify; font-size: 16px;" >
    Below are incomplete statements. Write your answers on the blanks provided;
</h4>
<br>
<ol style="text-align: justify;">
    <li>
        <p>A hazard is generically defined by safety practitioners as a [condition] or an [object] with the [potential] to cause death, injuries to personnel, damage to equipment or structures, loss of material, or reduction of the ability to [perform] a prescribed function.</p>
    </li>
    <br>
    <li>
        Risk is the [probability] and [severity] of loss from exposure to the [hazard].
    </li>
    <br>
    <li>
        Risk management is the [identification], [analysis] and [elimination] (and/or mitigation to an [acceptable] or tolerable level) of those [hazards], as well as the [subsequent] risks, that [threaten] the viability of an organization.
    </li>
    <br>
    <li>
        All vehicles must give way to [moving aircraft] at all times.
    </li>
    <br>
    <li>
        The safety distance from stationary aircraft with its engine running is at least [5] meters from the wing tip.
    </li>
    <br>
    <li>
        The minimum safety distance from rear of stationary aircraft with its engine running is at least [80] meters from the rear of the aircraft.
    </li>
    <br>
    <li>
        The minimum safety distance from stationary aircraft with its engine running is at least [8] meters from the front of the aircraft engine.
    </li>
    <br>
    <li>
        The minimum safety distance from a taxiing aircraft and your vehicle is at least [40] meters from the [edge] of the [taxiway].
    </li>
    <br>
    <li>
        The minimum safety distances from a refueling aircraft when it is safe to start up vehicle is at least [15] meters radius.
    </li>
    <br>
    <li>
        You must maintain a minimum safety distance of at least [2.5] meters radius around the aircraft fuel tank vent when it is parked at an aircraft’s parking stand.
    </li>
    <br>
    <li>
        During aircraft refueling all drivers shall not [drive] over any hose or bonding cable laid.
    </li>
    <br>
    <li>
        The movement of pedestrians or vehicles on the maneuvering area shall be subject to [authorization] by the aerodrome control tower
    </li>
    <br>
    <li>
        Situational Awareness is being [alert] to all that is [happening] around you.
    </li>
    <br>
    <li>
        Prior leaving the ramp area, make sure all of your equipment, tools, foreign objects and other contaminates must be [removed] promptly and as [completely] as practicable.
    </li>
    <br>
</ol>