<table style="border: solid 3px black;">
    <tr style="border: solid 1px black;">
        <th style="border: solid 1px black; padding: 10px 5px 10px 5px;">Term</th>
        <th style="border: solid 1px black; padding: 10px 5px 10px 5px;">Description</th>
    </tr>
    
    <tr>
        <td style="border: solid 1px black; padding: 10px 5px 10px 5px;">[Aerodrome]</td>
        <td style="border: solid 1px black; padding: 10px 5px 10px 5px;">
            Defined area on land or water (including any buildings, installations and equipment) intended to be used either wholly or in part for the arrival, departure and surface movement of aircraft. <br>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px black; padding: 10px 5px 10px 5px;">[Maneuvering area]</td>
        <td style="border: solid 1px black; padding: 10px 5px 10px 5px;">
            That part of an aerodrome to be used for the take-off, landing and taxiing of aircraft, excluding aprons. <br>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px black; padding: 10px 5px 10px 5px;">[Movement area]</td>
        <td style="border: solid 1px black; padding: 10px 5px 10px 5px;">
            That part of an aerodrome to be used for the take-off, landing and taxiing of aircraft, consisting of the maneuvering area and the apron(s). <br>
        </td>
    </tr>
    <tr>
        <td style="border: solid 1px black; padding: 10px 5px 10px 5px;">[Apron/ Ramp]</td>
        <td style="border: solid 1px black; padding: 10px 5px 10px 5px;">
            Defined area, on a land aerodrome, intended to accommodate aircraft for purposes of loading or unloading passengers, mail or cargo, fuelling, parking or maintenance. <br>
        </td>
    </tr>
</table>
<!-- 
Soal nomer 3 RSA PT 2.1 -->

<ol type="a">
    <li>The colour of the runway markings shall be [white].</li>
    <li>The colour of the taxiway markings shall be [yellow].</li>
    <li>Signs with red background with white inscription are [mandatory] signs which are denote an entrance to a runway, critical area, or prohibited area.</li>
    <li>Destination signs are marked with [yellow] background with [black] inscription and also contain [arrows].</li>

</ol>